.header{
    text-align: center;
}

.questions-container {
    margin-top: 20px;
}
.question {
    width: 60%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: azure;
}
.answer {
    background-color: rgb(224, 245, 245);
}
.answer-text-truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.answer-text {
    white-space: unset
}
.add-answer-container{
    width: 70%;
}
.add-answer-button{
    width: 20%;
}

