.questions-container {
    margin-top: 20px;
}
.question {
    width: 60%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: azure;
}
.answer {
    background-color: blanchedalmond;
}
.add-answer-container{
    width: 70%;
}
.add-answer-button{
    width: 20%;
}

